<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="componentes/layout.html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>
	<!-- Bootstrap core CSS -->
	<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<link href="/webjars/open-iconic/font/css/open-iconic-bootstrap.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="../../css/produtos.css" th:href="@{/css/produtos.css}" />
	<!-- Custom styles for this template -->
</head>

<body>
	<div layout:fragment="content">
		<div th:replace="componentes/alerta_aviso"></div>
		<div class="ajuste">
			<div class="g-0">
				<div>
					<a class="btn btn-block button" href="/produtos/cadastro" role="button">Adicionar produto</a>
				</div>
				<div class="pesquisa">
					<p>
						<i class="oi oi-magnifying-glass"></i><span></span>
						<button class="btn btn-primary" type="radio" data-toggle="collapse" data-target="#collapseNome" aria-controls="collapseNome">Nome</button>
					</p>
					<div class="row">
						<div class="col">
							<div class="collapse" id="collapseNome">
								<nav class="navbar navbar-light">
									<form class="form-inline" method="GET" th:action="@{/produtos/buscar/descricao}">
										<input class="form-control mr-sm-2" type="search" placeholder="nome" th:name="descricao"/>
									</form>
								</nav>
							</div>
						</div>
					</div>
			</div>
			<div class="table-wrapper">
				<table class="fl-table">
					<thead>
						<tr>
							<th class="codigo">Codigo</th>
							<th>Descrição</th>
							<th class="estoque">Estoque</th>
							<th class="preco">Preço</th>
							<th class="acoes">AÇÕES</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="d : ${produtos}">
							<td th:text="${d.codigo}"></td>
							<td th:text="${d.descricao}"></td>
							<td th:text="${d.estoque}"></td>
							<td th:text="${d.preco}"></td>
							<td colspan="2">
								<a class="btn btn-sm" th:href="@{/produtos/editar/{id} (id=${d.id})}" role="button">
									<span class="oi oi-pencil visualizar" title="Editar" aria-hidden="true"></span>
								</a>
								<button th:id="${ 'btn_produtos/excluir/'+ d.id }" type="button" class="btn btn-sm"
									data-toggle="modal" data-target="#meumodelo">
									<span class="oi oi-circle-x" title="Excluir"
										aria-hidden="true"></span>
								</button>
							</td>
						</tr>
					<tbody>
				</table>
			</div>
			<div th:replace="componentes/alerta_excluir :: modal"></div>
		</div>
	</div>
</body>
</html>